html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
abbr,
address,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* Responsive images and other embedded objects
Note: keeping IMG here will cause problems if you're using foreground images as sprites, like, say for Google Maps custom placemarkers.
There has been a report of problems with standard Google maps as well, but we haven't been able to duplicate or diagnose the issue. */
img,
object,
embed {
  max-width: 100%;
  display: block;
}
/* force a vertical scrollbar to prevent a jumpy page */
/* we use a lot of ULs that aren't bulleted.
don't forget to restore the bullets within content. */
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.25em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
select,
input,
textarea {
  font: 99% sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
/* Accessible focus treatment
people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active {
  outline: none;
}
strong,
th {
  font-weight: bold;
}
td,
td img {
  vertical-align: top;
}
/* Make sure sup and sub don't screw with your line-heights
gist.github.com/413930 */
sub,
sup {
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
/* hand cursor on clickable elements */
.clickable,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}
/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible;
}
/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
/* prevent BG image flicker upon hover */
.ie6 html {
  -webkit-filter: expression(document.execCommand("BackgroundImageCache", false, true));
          filter: expression(document.execCommand("BackgroundImageCache", false, true));
}
/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
li {
  list-style: none;
}
* {
  margin: 0px;
  padding: 0px;
  outline: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
  font-size: 13px;
  font-family: 'Open Sans';
}
/* we like off-#252525 for text */
body,
select,
input,
textarea {
  color: #363636;
}
a {
  color: #4a4a4a;
}
a:hover {
  color: #242424;
}
/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #242424;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #242424;
  color: #fff;
  text-shadow: none;
}
/* j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #242424;
}
ins {
  background-color: #242424;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #242424;
  color: #000;
  font-style: italic;
  font-weight: 700;
}
html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
header,
footer,
section,
article,
aside,
nav {
  display: block;
}
a,
input,
.has-icon {
  -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}
.grid-5,
.grid-33,
.grid-66,
.mobile-grid-5,
.mobile-grid-33,
.mobile-grid-66,
.tablet-grid-5,
.tablet-grid-33,
.desktop-grid-66,
.desktop-grid-33,
.desktop-grid-66,
.grid-10,
.mobile-grid-10,
.tablet-grid-10,
.grid-15,
.mobile-grid-15,
.tablet-grid-15,
.grid-20,
.mobile-grid-20,
.tablet-grid-20,
.grid-25,
.mobile-grid-25,
.tablet-grid-25,
.grid-30,
.mobile-grid-30,
.tablet-grid-30,
.grid-35,
.mobile-grid-35,
.tablet-grid-35,
.grid-40,
.mobile-grid-40,
.tablet-grid-40,
.grid-45,
.mobile-grid-45,
.tablet-grid-45,
.grid-50,
.mobile-grid-50,
.tablet-grid-50,
.grid-55,
.mobile-grid-55,
.tablet-grid-55,
.grid-60,
.mobile-grid-60,
.tablet-grid-60,
.grid-65,
.mobile-grid-65,
.tablet-grid-65,
.grid-70,
.mobile-grid-70,
.tablet-grid-70,
.grid-75,
.mobile-grid-75,
.tablet-grid-75,
.grid-80,
.mobile-grid-80,
.tablet-grid-80,
.grid-85,
.mobile-grid-85,
.tablet-grid-85,
.grid-90,
.mobile-grid-90,
.tablet-grid-90,
.grid-95,
.mobile-grid-95,
.tablet-grid-95,
.grid-100,
.mobile-grid-100,
.tablet-grid-100 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .grid-5 {
    float: left;
    width: 5%;
  }
  .prefix-5 {
    margin-left: 5%;
  }
  .suffix-5 {
    margin-right: 5%;
  }
  .push-5 {
    left: 5%;
  }
  .pull-5 {
    left: -5%;
  }
  .grid-10 {
    float: left;
    width: 10%;
  }
  .prefix-10 {
    margin-left: 10%;
  }
  .suffix-10 {
    margin-right: 10%;
  }
  .push-10 {
    left: 10%;
  }
  .pull-10 {
    left: -10%;
  }
  .grid-15 {
    float: left;
    width: 15%;
  }
  .prefix-15 {
    margin-left: 15%;
  }
  .suffix-15 {
    margin-right: 15%;
  }
  .push-15 {
    left: 15%;
  }
  .pull-15 {
    left: -15%;
  }
  .grid-20 {
    float: left;
    width: 20%;
  }
  .prefix-20 {
    margin-left: 20%;
  }
  .suffix-20 {
    margin-right: 20%;
  }
  .push-20 {
    left: 20%;
  }
  .pull-20 {
    left: -20%;
  }
  .grid-25 {
    float: left;
    width: 25%;
  }
  .prefix-25 {
    margin-left: 25%;
  }
  .suffix-25 {
    margin-right: 25%;
  }
  .push-25 {
    left: 25%;
  }
  .pull-25 {
    left: -25%;
  }
  .grid-30 {
    float: left;
    width: 30%;
  }
  .prefix-30 {
    margin-left: 30%;
  }
  .suffix-30 {
    margin-right: 30%;
  }
  .push-30 {
    left: 30%;
  }
  .pull-30 {
    left: -30%;
  }
  .grid-35 {
    float: left;
    width: 35%;
  }
  .prefix-35 {
    margin-left: 35%;
  }
  .suffix-35 {
    margin-right: 35%;
  }
  .push-35 {
    left: 35%;
  }
  .pull-35 {
    left: -35%;
  }
  .grid-40 {
    float: left;
    width: 40%;
  }
  .prefix-40 {
    margin-left: 40%;
  }
  .suffix-40 {
    margin-right: 40%;
  }
  .push-40 {
    left: 40%;
  }
  .pull-40 {
    left: -40%;
  }
  .grid-45 {
    float: left;
    width: 45%;
  }
  .prefix-45 {
    margin-left: 45%;
  }
  .suffix-45 {
    margin-right: 45%;
  }
  .push-45 {
    left: 45%;
  }
  .pull-45 {
    left: -45%;
  }
  .grid-50 {
    float: left;
    width: 50%;
  }
  .prefix-50 {
    margin-left: 50%;
  }
  .suffix-50 {
    margin-right: 50%;
  }
  .push-50 {
    left: 50%;
  }
  .pull-50 {
    left: -50%;
  }
  .grid-55 {
    float: left;
    width: 55%;
  }
  .prefix-55 {
    margin-left: 55%;
  }
  .suffix-55 {
    margin-right: 55%;
  }
  .push-55 {
    left: 55%;
  }
  .pull-55 {
    left: -55%;
  }
  .grid-60 {
    float: left;
    width: 60%;
  }
  .prefix-60 {
    margin-left: 60%;
  }
  .suffix-60 {
    margin-right: 60%;
  }
  .push-60 {
    left: 60%;
  }
  .pull-60 {
    left: -60%;
  }
  .grid-65 {
    float: left;
    width: 65%;
  }
  .prefix-65 {
    margin-left: 65%;
  }
  .suffix-65 {
    margin-right: 65%;
  }
  .push-65 {
    left: 65%;
  }
  .pull-65 {
    left: -65%;
  }
  .grid-70 {
    float: left;
    width: 70%;
  }
  .prefix-70 {
    margin-left: 70%;
  }
  .suffix-70 {
    margin-right: 70%;
  }
  .push-70 {
    left: 70%;
  }
  .pull-70 {
    left: -70%;
  }
  .grid-75 {
    float: left;
    width: 75%;
  }
  .prefix-75 {
    margin-left: 75%;
  }
  .suffix-75 {
    margin-right: 75%;
  }
  .push-75 {
    left: 75%;
  }
  .pull-75 {
    left: -75%;
  }
  .grid-80 {
    float: left;
    width: 80%;
  }
  .prefix-80 {
    margin-left: 80%;
  }
  .suffix-80 {
    margin-right: 80%;
  }
  .push-80 {
    left: 80%;
  }
  .pull-80 {
    left: -80%;
  }
  .grid-85 {
    float: left;
    width: 85%;
  }
  .prefix-85 {
    margin-left: 85%;
  }
  .suffix-85 {
    margin-right: 85%;
  }
  .push-85 {
    left: 85%;
  }
  .pull-85 {
    left: -85%;
  }
  .grid-90 {
    float: left;
    width: 90%;
  }
  .prefix-90 {
    margin-left: 90%;
  }
  .suffix-90 {
    margin-right: 90%;
  }
  .push-90 {
    left: 90%;
  }
  .pull-90 {
    left: -90%;
  }
  .grid-95 {
    float: left;
    width: 95%;
  }
  .prefix-95 {
    margin-left: 95%;
  }
  .suffix-95 {
    margin-right: 95%;
  }
  .push-95 {
    left: 95%;
  }
  .pull-95 {
    left: -95%;
  }
  .grid-33 {
    float: left;
    width: 33.33333333%;
  }
  .prefix-33 {
    margin-left: 33.33333333%;
  }
  .suffix-33 {
    margin-right: 33.33333333%;
  }
  .push-33 {
    left: 33.33333333%;
  }
  .pull-33 {
    left: -33.33333333%;
  }
  .grid-66 {
    float: left;
    width: 66.66666667%;
  }
  .prefix-66 {
    margin-left: 66.66666667%;
  }
  .suffix-66 {
    margin-right: 66.66666667%;
  }
  .push-66 {
    left: 66.66666667%;
  }
  .pull-66 {
    left: -66.66666667%;
  }
  .grid-100 {
    clear: both;
    width: 100%;
  }
  .grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-container:before,
  .grid-container:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }
  .grid-offset {
    clear: both;
    margin-left: -10px;
    margin-right: -10px;
  }
  .grid-offset:before,
  .grid-offset:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }
  .grid-parent {
    padding-left: 0;
    padding-right: 0;
  }
  .hide,
  .hidden {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .mobile-grid-5 {
    float: left;
    width: 5%;
  }
  .mobile-prefix-5 {
    margin-left: 5%;
  }
  .mobile-suffix-5 {
    margin-right: 5%;
  }
  .mobile-push-5 {
    left: 5%;
  }
  .mobile-pull-5 {
    left: -5%;
  }
  .mobile-grid-10 {
    float: left;
    width: 10%;
  }
  .mobile-prefix-10 {
    margin-left: 10%;
  }
  .mobile-suffix-10 {
    margin-right: 10%;
  }
  .mobile-push-10 {
    left: 10%;
  }
  .mobile-pull-10 {
    left: -10%;
  }
  .mobile-grid-15 {
    float: left;
    width: 15%;
  }
  .mobile-prefix-15 {
    margin-left: 15%;
  }
  .mobile-suffix-15 {
    margin-right: 15%;
  }
  .mobile-push-15 {
    left: 15%;
  }
  .mobile-pull-15 {
    left: -15%;
  }
  .mobile-grid-20 {
    float: left;
    width: 20%;
  }
  .mobile-prefix-20 {
    margin-left: 20%;
  }
  .mobile-suffix-20 {
    margin-right: 20%;
  }
  .mobile-push-20 {
    left: 20%;
  }
  .mobile-pull-20 {
    left: -20%;
  }
  .mobile-grid-25 {
    float: left;
    width: 25%;
  }
  .mobile-prefix-25 {
    margin-left: 25%;
  }
  .mobile-suffix-25 {
    margin-right: 25%;
  }
  .mobile-push-25 {
    left: 25%;
  }
  .mobile-pull-25 {
    left: -25%;
  }
  .mobile-grid-30 {
    float: left;
    width: 30%;
  }
  .mobile-prefix-30 {
    margin-left: 30%;
  }
  .mobile-suffix-30 {
    margin-right: 30%;
  }
  .mobile-push-30 {
    left: 30%;
  }
  .mobile-pull-30 {
    left: -30%;
  }
  .mobile-grid-35 {
    float: left;
    width: 35%;
  }
  .mobile-prefix-35 {
    margin-left: 35%;
  }
  .mobile-suffix-35 {
    margin-right: 35%;
  }
  .mobile-push-35 {
    left: 35%;
  }
  .mobile-pull-35 {
    left: -35%;
  }
  .mobile-grid-40 {
    float: left;
    width: 40%;
  }
  .mobile-prefix-40 {
    margin-left: 40%;
  }
  .mobile-suffix-40 {
    margin-right: 40%;
  }
  .mobile-push-40 {
    left: 40%;
  }
  .mobile-pull-40 {
    left: -40%;
  }
  .mobile-grid-45 {
    float: left;
    width: 45%;
  }
  .mobile-prefix-45 {
    margin-left: 45%;
  }
  .mobile-suffix-45 {
    margin-right: 45%;
  }
  .mobile-push-45 {
    left: 45%;
  }
  .mobile-pull-45 {
    left: -45%;
  }
  .mobile-grid-50 {
    float: left;
    width: 50%;
  }
  .mobile-prefix-50 {
    margin-left: 50%;
  }
  .mobile-suffix-50 {
    margin-right: 50%;
  }
  .mobile-push-50 {
    left: 50%;
  }
  .mobile-pull-50 {
    left: -50%;
  }
  .mobile-grid-55 {
    float: left;
    width: 55%;
  }
  .mobile-prefix-55 {
    margin-left: 55%;
  }
  .mobile-suffix-55 {
    margin-right: 55%;
  }
  .mobile-push-55 {
    left: 55%;
  }
  .mobile-pull-55 {
    left: -55%;
  }
  .mobile-grid-60 {
    float: left;
    width: 60%;
  }
  .mobile-prefix-60 {
    margin-left: 60%;
  }
  .mobile-suffix-60 {
    margin-right: 60%;
  }
  .mobile-push-60 {
    left: 60%;
  }
  .mobile-pull-60 {
    left: -60%;
  }
  .mobile-grid-65 {
    float: left;
    width: 65%;
  }
  .mobile-prefix-65 {
    margin-left: 65%;
  }
  .mobile-suffix-65 {
    margin-right: 65%;
  }
  .mobile-push-65 {
    left: 65%;
  }
  .mobile-pull-65 {
    left: -65%;
  }
  .mobile-grid-70 {
    float: left;
    width: 70%;
  }
  .mobile-prefix-70 {
    margin-left: 70%;
  }
  .mobile-suffix-70 {
    margin-right: 70%;
  }
  .mobile-push-70 {
    left: 70%;
  }
  .mobile-pull-70 {
    left: -70%;
  }
  .mobile-grid-75 {
    float: left;
    width: 75%;
  }
  .mobile-prefix-75 {
    margin-left: 75%;
  }
  .mobile-suffix-75 {
    margin-right: 75%;
  }
  .mobile-push-75 {
    left: 75%;
  }
  .mobile-pull-75 {
    left: -75%;
  }
  .mobile-grid-80 {
    float: left;
    width: 80%;
  }
  .mobile-prefix-80 {
    margin-left: 80%;
  }
  .mobile-suffix-80 {
    margin-right: 80%;
  }
  .mobile-push-80 {
    left: 80%;
  }
  .mobile-pull-80 {
    left: -80%;
  }
  .mobile-grid-85 {
    float: left;
    width: 85%;
  }
  .mobile-prefix-85 {
    margin-left: 85%;
  }
  .mobile-suffix-85 {
    margin-right: 85%;
  }
  .mobile-push-85 {
    left: 85%;
  }
  .mobile-pull-85 {
    left: -85%;
  }
  .mobile-grid-90 {
    float: left;
    width: 90%;
  }
  .mobile-prefix-90 {
    margin-left: 90%;
  }
  .mobile-suffix-90 {
    margin-right: 90%;
  }
  .mobile-push-90 {
    left: 90%;
  }
  .mobile-pull-90 {
    left: -90%;
  }
  .mobile-grid-95 {
    float: left;
    width: 95%;
  }
  .mobile-prefix-95 {
    margin-left: 95%;
  }
  .mobile-suffix-95 {
    margin-right: 95%;
  }
  .mobile-push-95 {
    left: 95%;
  }
  .mobile-pull-95 {
    left: -95%;
  }
  .mobile-grid-33 {
    float: left;
    width: 33.33333333%;
  }
  .mobile-prefix-33 {
    margin-left: 33.33333333%;
  }
  .mobile-suffix-33 {
    margin-right: 33.33333333%;
  }
  .mobile-push-33 {
    left: 33.33333333%;
  }
  .mobile-pull-33 {
    left: -33.33333333%;
  }
  .mobile-grid-66 {
    float: left;
    width: 66.66666667%;
  }
  .mobile-prefix-66 {
    margin-left: 66.66666667%;
  }
  .mobile-suffix-66 {
    margin-right: 66.66666667%;
  }
  .mobile-push-66 {
    left: 66.66666667%;
  }
  .mobile-pull-66 {
    left: -66.66666667%;
  }
  .mobile-grid-100 {
    clear: both;
    width: 100%;
  }
  .mobile-grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile-grid-container:before,
  .mobile-grid-container:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }
  .mobile-grid-offset {
    clear: both;
    margin-left: -10px;
    margin-right: -10px;
  }
  .mobile-grid-offset:before,
  .mobile-grid-offset:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }
  .mobile-grid-parent {
    padding-left: 0;
    padding-right: 0;
  }
  .mobile-hide,
  .mobile-hidden {
    display: none !important;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .tablet-grid-5 {
    float: left;
    width: 5%;
  }
  .tablet-prefix-5 {
    margin-left: 5%;
  }
  .tablet-suffix-5 {
    margin-right: 5%;
  }
  .tablet-push-5 {
    left: 5%;
  }
  .tablet-pull-5 {
    left: -5%;
  }
  .tablet-grid-10 {
    float: left;
    width: 10%;
  }
  .tablet-prefix-10 {
    margin-left: 10%;
  }
  .tablet-suffix-10 {
    margin-right: 10%;
  }
  .tablet-push-10 {
    left: 10%;
  }
  .tablet-pull-10 {
    left: -10%;
  }
  .tablet-grid-15 {
    float: left;
    width: 15%;
  }
  .tablet-prefix-15 {
    margin-left: 15%;
  }
  .tablet-suffix-15 {
    margin-right: 15%;
  }
  .tablet-push-15 {
    left: 15%;
  }
  .tablet-pull-15 {
    left: -15%;
  }
  .tablet-grid-20 {
    float: left;
    width: 20%;
  }
  .tablet-prefix-20 {
    margin-left: 20%;
  }
  .tablet-suffix-20 {
    margin-right: 20%;
  }
  .tablet-push-20 {
    left: 20%;
  }
  .tablet-pull-20 {
    left: -20%;
  }
  .tablet-grid-25 {
    float: left;
    width: 25%;
  }
  .tablet-prefix-25 {
    margin-left: 25%;
  }
  .tablet-suffix-25 {
    margin-right: 25%;
  }
  .tablet-push-25 {
    left: 25%;
  }
  .tablet-pull-25 {
    left: -25%;
  }
  .tablet-grid-30 {
    float: left;
    width: 30%;
  }
  .tablet-prefix-30 {
    margin-left: 30%;
  }
  .tablet-suffix-30 {
    margin-right: 30%;
  }
  .tablet-push-30 {
    left: 30%;
  }
  .tablet-pull-30 {
    left: -30%;
  }
  .tablet-grid-35 {
    float: left;
    width: 35%;
  }
  .tablet-prefix-35 {
    margin-left: 35%;
  }
  .tablet-suffix-35 {
    margin-right: 35%;
  }
  .tablet-push-35 {
    left: 35%;
  }
  .tablet-pull-35 {
    left: -35%;
  }
  .tablet-grid-40 {
    float: left;
    width: 40%;
  }
  .tablet-prefix-40 {
    margin-left: 40%;
  }
  .tablet-suffix-40 {
    margin-right: 40%;
  }
  .tablet-push-40 {
    left: 40%;
  }
  .tablet-pull-40 {
    left: -40%;
  }
  .tablet-grid-45 {
    float: left;
    width: 45%;
  }
  .tablet-prefix-45 {
    margin-left: 45%;
  }
  .tablet-suffix-45 {
    margin-right: 45%;
  }
  .tablet-push-45 {
    left: 45%;
  }
  .tablet-pull-45 {
    left: -45%;
  }
  .tablet-grid-50 {
    float: left;
    width: 50%;
  }
  .tablet-prefix-50 {
    margin-left: 50%;
  }
  .tablet-suffix-50 {
    margin-right: 50%;
  }
  .tablet-push-50 {
    left: 50%;
  }
  .tablet-pull-50 {
    left: -50%;
  }
  .tablet-grid-55 {
    float: left;
    width: 55%;
  }
  .tablet-prefix-55 {
    margin-left: 55%;
  }
  .tablet-suffix-55 {
    margin-right: 55%;
  }
  .tablet-push-55 {
    left: 55%;
  }
  .tablet-pull-55 {
    left: -55%;
  }
  .tablet-grid-60 {
    float: left;
    width: 60%;
  }
  .tablet-prefix-60 {
    margin-left: 60%;
  }
  .tablet-suffix-60 {
    margin-right: 60%;
  }
  .tablet-push-60 {
    left: 60%;
  }
  .tablet-pull-60 {
    left: -60%;
  }
  .tablet-grid-65 {
    float: left;
    width: 65%;
  }
  .tablet-prefix-65 {
    margin-left: 65%;
  }
  .tablet-suffix-65 {
    margin-right: 65%;
  }
  .tablet-push-65 {
    left: 65%;
  }
  .tablet-pull-65 {
    left: -65%;
  }
  .tablet-grid-70 {
    float: left;
    width: 70%;
  }
  .tablet-prefix-70 {
    margin-left: 70%;
  }
  .tablet-suffix-70 {
    margin-right: 70%;
  }
  .tablet-push-70 {
    left: 70%;
  }
  .tablet-pull-70 {
    left: -70%;
  }
  .tablet-grid-75 {
    float: left;
    width: 75%;
  }
  .tablet-prefix-75 {
    margin-left: 75%;
  }
  .tablet-suffix-75 {
    margin-right: 75%;
  }
  .tablet-push-75 {
    left: 75%;
  }
  .tablet-pull-75 {
    left: -75%;
  }
  .tablet-grid-80 {
    float: left;
    width: 80%;
  }
  .tablet-prefix-80 {
    margin-left: 80%;
  }
  .tablet-suffix-80 {
    margin-right: 80%;
  }
  .tablet-push-80 {
    left: 80%;
  }
  .tablet-pull-80 {
    left: -80%;
  }
  .tablet-grid-85 {
    float: left;
    width: 85%;
  }
  .tablet-prefix-85 {
    margin-left: 85%;
  }
  .tablet-suffix-85 {
    margin-right: 85%;
  }
  .tablet-push-85 {
    left: 85%;
  }
  .tablet-pull-85 {
    left: -85%;
  }
  .tablet-grid-90 {
    float: left;
    width: 90%;
  }
  .tablet-prefix-90 {
    margin-left: 90%;
  }
  .tablet-suffix-90 {
    margin-right: 90%;
  }
  .tablet-push-90 {
    left: 90%;
  }
  .tablet-pull-90 {
    left: -90%;
  }
  .tablet-grid-95 {
    float: left;
    width: 95%;
  }
  .tablet-prefix-95 {
    margin-left: 95%;
  }
  .tablet-suffix-95 {
    margin-right: 95%;
  }
  .tablet-push-95 {
    left: 95%;
  }
  .tablet-pull-95 {
    left: -95%;
  }
  .tablet-grid-33 {
    float: left;
    width: 33.33333333%;
  }
  .tablet-prefix-33 {
    margin-left: 33.33333333%;
  }
  .tablet-suffix-33 {
    margin-right: 33.33333333%;
  }
  .tablet-push-33 {
    left: 33.33333333%;
  }
  .tablet-pull-33 {
    left: -33.33333333%;
  }
  .tablet-grid-66 {
    float: left;
    width: 66.66666667%;
  }
  .tablet-prefix-66 {
    margin-left: 66.66666667%;
  }
  .tablet-suffix-66 {
    margin-right: 66.66666667%;
  }
  .tablet-push-66 {
    left: 66.66666667%;
  }
  .tablet-pull-66 {
    left: -66.66666667%;
  }
  .tablet-grid-100 {
    clear: both;
    width: 100%;
  }
  .tablet-grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .tablet-grid-container:before,
  .tablet-grid-container:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }
  .tablet-grid-offset {
    clear: both;
    margin-left: -10px;
    margin-right: -10px;
  }
  .tablet-grid-offset:before,
  .tablet-grid-offset:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }
  .tablet-grid-parent {
    padding-left: 0;
    padding-right: 0;
  }
  .tablet-hide,
  .tablet-hidden {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop-grid-5 {
    float: left;
    width: 5%;
  }
  .desktop-prefix-5 {
    margin-left: 5%;
  }
  .desktop-suffix-5 {
    margin-right: 5%;
  }
  .desktop-push-5 {
    left: 5%;
  }
  .desktop-pull-5 {
    left: -5%;
  }
  .desktop-grid-10 {
    float: left;
    width: 10%;
  }
  .desktop-prefix-10 {
    margin-left: 10%;
  }
  .desktop-suffix-10 {
    margin-right: 10%;
  }
  .desktop-push-10 {
    left: 10%;
  }
  .desktop-pull-10 {
    left: -10%;
  }
  .desktop-grid-15 {
    float: left;
    width: 15%;
  }
  .desktop-prefix-15 {
    margin-left: 15%;
  }
  .desktop-suffix-15 {
    margin-right: 15%;
  }
  .desktop-push-15 {
    left: 15%;
  }
  .desktop-pull-15 {
    left: -15%;
  }
  .desktop-grid-20 {
    float: left;
    width: 20%;
  }
  .desktop-prefix-20 {
    margin-left: 20%;
  }
  .desktop-suffix-20 {
    margin-right: 20%;
  }
  .desktop-push-20 {
    left: 20%;
  }
  .desktop-pull-20 {
    left: -20%;
  }
  .desktop-grid-25 {
    float: left;
    width: 25%;
  }
  .desktop-prefix-25 {
    margin-left: 25%;
  }
  .desktop-suffix-25 {
    margin-right: 25%;
  }
  .desktop-push-25 {
    left: 25%;
  }
  .desktop-pull-25 {
    left: -25%;
  }
  .desktop-grid-30 {
    float: left;
    width: 30%;
  }
  .desktop-prefix-30 {
    margin-left: 30%;
  }
  .desktop-suffix-30 {
    margin-right: 30%;
  }
  .desktop-push-30 {
    left: 30%;
  }
  .desktop-pull-30 {
    left: -30%;
  }
  .desktop-grid-35 {
    float: left;
    width: 35%;
  }
  .desktop-prefix-35 {
    margin-left: 35%;
  }
  .desktop-suffix-35 {
    margin-right: 35%;
  }
  .desktop-push-35 {
    left: 35%;
  }
  .desktop-pull-35 {
    left: -35%;
  }
  .desktop-grid-40 {
    float: left;
    width: 40%;
  }
  .desktop-prefix-40 {
    margin-left: 40%;
  }
  .desktop-suffix-40 {
    margin-right: 40%;
  }
  .desktop-push-40 {
    left: 40%;
  }
  .desktop-pull-40 {
    left: -40%;
  }
  .desktop-grid-45 {
    float: left;
    width: 45%;
  }
  .desktop-prefix-45 {
    margin-left: 45%;
  }
  .desktop-suffix-45 {
    margin-right: 45%;
  }
  .desktop-push-45 {
    left: 45%;
  }
  .desktop-pull-45 {
    left: -45%;
  }
  .desktop-grid-50 {
    float: left;
    width: 50%;
  }
  .desktop-prefix-50 {
    margin-left: 50%;
  }
  .desktop-suffix-50 {
    margin-right: 50%;
  }
  .desktop-push-50 {
    left: 50%;
  }
  .desktop-pull-50 {
    left: -50%;
  }
  .desktop-grid-55 {
    float: left;
    width: 55%;
  }
  .desktop-prefix-55 {
    margin-left: 55%;
  }
  .desktop-suffix-55 {
    margin-right: 55%;
  }
  .desktop-push-55 {
    left: 55%;
  }
  .desktop-pull-55 {
    left: -55%;
  }
  .desktop-grid-60 {
    float: left;
    width: 60%;
  }
  .desktop-prefix-60 {
    margin-left: 60%;
  }
  .desktop-suffix-60 {
    margin-right: 60%;
  }
  .desktop-push-60 {
    left: 60%;
  }
  .desktop-pull-60 {
    left: -60%;
  }
  .desktop-grid-65 {
    float: left;
    width: 65%;
  }
  .desktop-prefix-65 {
    margin-left: 65%;
  }
  .desktop-suffix-65 {
    margin-right: 65%;
  }
  .desktop-push-65 {
    left: 65%;
  }
  .desktop-pull-65 {
    left: -65%;
  }
  .desktop-grid-70 {
    float: left;
    width: 70%;
  }
  .desktop-prefix-70 {
    margin-left: 70%;
  }
  .desktop-suffix-70 {
    margin-right: 70%;
  }
  .desktop-push-70 {
    left: 70%;
  }
  .desktop-pull-70 {
    left: -70%;
  }
  .desktop-grid-75 {
    float: left;
    width: 75%;
  }
  .desktop-prefix-75 {
    margin-left: 75%;
  }
  .desktop-suffix-75 {
    margin-right: 75%;
  }
  .desktop-push-75 {
    left: 75%;
  }
  .desktop-pull-75 {
    left: -75%;
  }
  .desktop-grid-80 {
    float: left;
    width: 80%;
  }
  .desktop-prefix-80 {
    margin-left: 80%;
  }
  .desktop-suffix-80 {
    margin-right: 80%;
  }
  .desktop-push-80 {
    left: 80%;
  }
  .desktop-pull-80 {
    left: -80%;
  }
  .desktop-grid-85 {
    float: left;
    width: 85%;
  }
  .desktop-prefix-85 {
    margin-left: 85%;
  }
  .desktop-suffix-85 {
    margin-right: 85%;
  }
  .desktop-push-85 {
    left: 85%;
  }
  .desktop-pull-85 {
    left: -85%;
  }
  .desktop-grid-90 {
    float: left;
    width: 90%;
  }
  .desktop-prefix-90 {
    margin-left: 90%;
  }
  .desktop-suffix-90 {
    margin-right: 90%;
  }
  .desktop-push-90 {
    left: 90%;
  }
  .desktop-pull-90 {
    left: -90%;
  }
  .desktop-grid-95 {
    float: left;
    width: 95%;
  }
  .desktop-prefix-95 {
    margin-left: 95%;
  }
  .desktop-suffix-95 {
    margin-right: 95%;
  }
  .desktop-push-95 {
    left: 95%;
  }
  .desktop-pull-95 {
    left: -95%;
  }
  .desktop-grid-33 {
    float: left;
    width: 33.33333333%;
  }
  .desktop-prefix-33 {
    margin-left: 33.33333333%;
  }
  .desktop-suffix-33 {
    margin-right: 33.33333333%;
  }
  .desktop-push-33 {
    left: 33.33333333%;
  }
  .desktop-pull-33 {
    left: -33.33333333%;
  }
  .desktop-grid-66 {
    float: left;
    width: 66.66666667%;
  }
  .desktop-prefix-66 {
    margin-left: 66.66666667%;
  }
  .desktop-suffix-66 {
    margin-right: 66.66666667%;
  }
  .desktop-push-66 {
    left: 66.66666667%;
  }
  .desktop-pull-66 {
    left: -66.66666667%;
  }
  .desktop-grid-100 {
    clear: both;
    width: 100%;
  }
  .desktop-grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .desktop-grid-container:before,
  .desktop-grid-container:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }
  .desktop-grid-offset {
    clear: both;
    margin-left: -10px;
    margin-right: -10px;
  }
  .desktop-grid-offset:before,
  .desktop-grid-offset:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }
  .desktop-grid-parent {
    padding-left: 0;
    padding-right: 0;
  }
  .desktop-hide,
  .desktop-hidden {
    display: none !important;
  }
}
.example-block {
  background: #eee;
  font-size: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px 0;
  text-align: center;
}
div[class*="pull-"] section {
  background: #fcd;
}
div[class*="push-"] section {
  background: #dec;
}
